<div> 
    <div style="padding: 10px;">
    <h3 style="font-family: 'Arial', sans-serif;text-align:center;">Inventory</h3>
    </div>

    <div>
        <p style="text-align:center"><%= link_to "View All Authors", authors_path, style: "color: #0056b3; text-decoration: none;" %></p>
    </div>

    <div>
        <p style="text-align:center"><%= link_to "View All Books", books_path, style: "color: #0056b3; text-decoration: none;" %></p>
    </div>

    <div>
        <p style="text-align:center"><%= link_to "View All Genres", genres_path, style: "color: #0056b3; text-decoration: none;" %></p>
    </div>

    <div>
        <p style="text-align:center"><%= link_to "View All Publishers", publishers_path, style: "color: #0056b3; text-decoration: none;" %></p>
    </div>

    <div>
        <p style="text-align:center"><%= link_to "Chat App", chat_app_path, style: "color: #0056b3; text-decoration: none;" %></p>
    </div>

</div>
